*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background: #d2d2d2;
    font-family: 'Roboto', sans-serif;
  
}

li{
    list-style: none;
}

header{
    width: 100%;
    height: 50px;

    background: #23abff;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.4);
}
.main{
    max-width: 900px;
    margin:0 auto ;
}
div.newPost{

    width: 100%;
    height: 240px;
    margin: 50px 0;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2) ;
}

div.newPost div.inforUser{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.newPost div.inforUser div.imgUser{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #333;

}

div.newPost div.inforUser strong{
    font-size: 16px;
    margin-left: 10px;
    color: #23abff;
}

div.newPost form.formPost{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

div.newPost form.formPost textarea{
    height: 90px;
    margin: 15px 0;
    background: #fbfbfb;
    outline: none;
    padding: 25px;
    border-radius: 10px;
    resize: none;
    padding-top: 5%;
    border: 0;

    font-weight: bold;
    color: #727272;
    font-family: 'Roboto', sans-serif;
}

div.newPost form.formPost div.iconsAndButton div.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100px;

}

div.newPost form.formPost div.iconsAndButton{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

div.newPost form.formPost div.iconsAndButton div.icons button{
    outline: none;
    background: none;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
    border: 0;
    cursor: pointer;
}

div.newPost form.formPost div.iconsAndButton .btnSubmitForm{
 outline: none;
 border-radius: 10px;
 border: none;
 
 /* Nao colocar virgula no padding isso pode nao funcionar e achar que o codigo esta errado*/
 padding: 10px 50px;
 background: #23abff;
 color: #fbfbfb;

 font-family: 'Roboto', sans-serif;
 font-weight: bold;
 cursor: pointer;
 transition: background 0.2s;

}

div.newPost form.formPost div.iconsAndButton .btnSubmitForm:hover{
    background: #117cbf;
}

ul.posts li.posts{
    margin-bottom: 50px;
    border-radius: 10px;
    background: #fff;

    padding:25px;
    width: 100%;
    box-shadow: 1px 0 3px rgba(0,0,0.05);
    
}

ul.posts li.posts div.inforUserPost {
    display: flex;
    align-items: center;
}

ul.posts li.posts div.inforUserPost div.nameAndHour{
    margin-left: 10px;

}

ul.posts li.posts div.inforUserPost div.imgUserPost{
    width: 30px;
    height: 35px;
    border-radius: 50%;
    background: #23abff;
}

ul.posts li.posts div.inforUserPost div.nameAndHour >strong{
    color: #23abff;
}

ul.posts li.posts div.inforUserPost div.nameAndHour >p{
    color:#d1d1d1;
    font-size: 12px;
}

ul.posts li.posts >p{
    width: 100%;
    margin: 20px 0;
    font-weight: bold;
    color: #727272;
}

ul.posts li.posts div.actionBtnPost {
    display: flex;
    align-items: center;

}

ul.posts li.posts div.actionBtnPost button.filesPost{
    padding: 5px 25px;
    margin-right: 10px;

    border-radius: 10px;
    border: 0;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;

}

ul.posts li.posts div.actionBtnPost button.filesPost img{
    margin-left: 5px;
}

.like{
    background: #f43737;
}

.like:hover{
    background: #cf1212;
}

.comment{
    background: #ffc320;
}

.comment:hover{
    background: #daa512;
}

.share{
    background-color: #23abff;
}

.share:hover{
    background: #117cbf;
}